<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Добро пожаловать на</h1>

  <h2>
    Helloworld - лучший сервис для обмена информацией
  </h2>

  <%= link_to "Присоединяйся к нам!", signup_path, class: "btn btn-large btn-primary" %>
</div>
