<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center hero-unit">
  <h1>Добро пожаловать на</h1>

  <h2>
    Helloworld - лучший сервис для обмена информацией
  </h2>

  <%= link_to "Присоединяйся к нам!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<% end %>

